*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.divstyle{
    border:1px solid black;
    margin: 10px 48px 8px 48px ;
    padding: .5rem;
    text-align: center; 
    max-width: 200px;
    font-family: 'Anuphan', sans-serif;
}

.Racing{
    background-color: lightblue;
}

.Independiente{
    background: linear-gradient(to right,red,white,black);
}

.River{
    background-color: crimson;
}

.Boca{
    background-color: blue;
}

.SanLorenzo{
    background-color: green;
}